 <link rel="stylesheet" type="text/css" href="/styles.css">
 
 <div>
        <a href="/">
          Return to Homepage
        </a>
      </div>

<div>
  <div>
    <h1>
      Our Participating Shelters
    </h1>

  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
    
        <th>
          Name
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Dogs Available
        </th>
      
      </tr>

      <% @list_of_shelters.each do |a_shelter| %>
      <tr>
       
        <td>
          <a href="/shelters/<%= a_shelter.id %>">
           <%= a_shelter.name %>
          </a>
        </td>

        <td>
          <%= a_shelter.city %>
        </td>

        <td>
          <%= a_shelter.state %>
        </td>

        <td>
          <%= a_shelter.description %>
        </td>

        <td>
     <img class="shelter-image" src="/images/<%= ERB::Util.url_encode(a_shelter.image) %>" style="width: 300px; height: auto;">
        </td>

        <td>
          <%= a_shelter.dogs_count %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


<div>
<% if current_user && current_user.role == "admin" %>
  <div>
    <h2 style="text-align: center;">
      Add a new shelter
    </h2>

    <form action="/insert_shelter" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="dogs_count_box">
          Dogs count
        </label>

        <input type="text" id="dogs_count_box" name="query_dogs_count">
      </div>

      <button>
        Create shelter
      </button>
    </form>
  </div>
</div>
<% end %>
