<link rel="stylesheet" type="text/css" href="/styles.css">

 <div>
      <div>
        <a href="/shelters">
          Go back
        </a>
      </div>
<br>
      <div>
        <a href="/delete_shelter/<%= @the_shelter.id %>">
          Delete shelter
        </a>
      </div>
    </div>

<div>
  <div>
    <h1>
      <%= @the_shelter.name %>'s Info
    </h1>

   

 <dd>
       <img src="/images/<%= ERB::Util.url_encode(@the_shelter.image) %>">
      </dd>




    <dd>
       <h3 style="text-align: center;">
        Name: <%= @the_shelter.name %>
      </dd>

     
      <dd>
        <h3 style="text-align: center;">
        City: <%= @the_shelter.city %>
      </dd>

      <dd>
        <h3 style="text-align: center;">
        State: <%= @the_shelter.state %>
      </dd>

      <dd>
        <h3 style="text-align: center;">
        Description: <%= @the_shelter.description %>
      </dd>

      <dd>
        <h3 style="text-align: center;">
        Dogs count: <%= @the_shelter.dogs_count %>
      </dd>

      <dd>
        <h3 style="text-align: center;">
        Created at: <%= time_ago_in_words(@the_shelter.created_at) %> ago
      </dd>

    
      <dd>
        <h3 style="text-align: center;">
        Updated at: <%= time_ago_in_words(@the_shelter.updated_at) %> ago
      </dd>

      <div>

      <br>
  <h1 style="text-align: center;">
  Dogs at this shelter
  
  <ul>
    <% @list_of_dogs.each do |dog| %>
      <li>
         <a href="/dogs/<%= dog.id %>">
         <%= dog.name %>
            <img src="/images/<%= dog.name.gsub(' ', '_') %>.jpg" alt="<%= dog.name %>">
      </li>
    <% end %>
  </ul>
</div>
    </dl>
  </div>
</div>

<hr>


<div>
<% if current_user && current_user.role == "admin" %>
  <div>
    <h2>
      Edit shelter
    </h2>

    <form action="/modify_shelter/<%= @the_shelter.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_shelter.name %>">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_shelter.city %>">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" value="<%= @the_shelter.state %>">
      </div>

      <div>
        <label for="dog_id_box">
          Dog
        </label>

        <input type="text" id="dog_id_box" name="query_dog_id" value="<%= @the_shelter.dog_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_shelter.description %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_shelter.image %>">
      </div>

      <div>
        <label for="dogs_count_box">
          Dogs count
        </label>

        <input type="text" id="dogs_count_box" name="query_dogs_count" value="<%= @the_shelter.dogs_count %>">
      </div>

      <button>
        Update shelter
      </button>
    </form>
  </div>
</div>

<hr>
<% end %>
