 <link rel="stylesheet" type="text/css" href="/styles.css">
 
  <div>
        <a href="/dogs">
          Return to Available Dogs
        </a>
      </div>
<br>
      <div>
      <div>
        <a href="/shelters">
          See Our Shelters
        </a>
      </div>
<br>
      <div>
        <a href="/delete_dog/<%= @the_dog.id %>">
          Delete dog
        </a>
      </div>
    </div>

<div>
  <div>
    <h1 style="text-align: center;">
      About <%= @the_dog.name %>
    </h1>

  <dd>
       <img src="/images/<%= @the_dog.name.gsub(' ', '_') %>.jpg" alt="<%= @the_dog.name %>"style="width: 300px; height: auto;"
      </dd>

    <div>
    

    <dl>
     
      
    <dd style="text-align: center;">
  Breed: <%= @the_dog.breed %>
</dd>

     <br>
       <dd style="text-align: center;">
        Age: <%= @the_dog.age %>
      </dd>

   <br>
       <dd style="text-align: center;">
        Bio: <%= @the_dog.bio %>
      </dd>

    <br>
      <dd style="text-align: center;">
       Shelter: <a href="/shelters/<%= @the_shelter.id %>"><%= @the_shelter.name %></a>
      </dd>

     <br>
       <dd style="text-align: center;">
        Gender: <%= @the_dog.gender %>
      </dd>

      <br>
       <dd style="text-align: center;">
        Status: <%= @the_dog.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dog.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dog.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div id="adoption-form-container">
  <h2 style="text-align: center;">Are you interested in adopting <%= @the_dog.name %>?</h2>
</div>

  <form id="adoption-form">
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name">
    </div>

    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name">
    </div>

    <div>
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="phone_number">Phone Number:</label>
      <input type="tel" id="phone_number" name="phone_number">
    </div>

    <div>
      <label for="candidate_reason">Why would you be a good candidate to adopt?</label>
      <textarea id="candidate_reason" name="candidate_reason"></textarea>
    </div>

    <div>
      <label for="contact_time">Best times/ways to contact you:</label>
      <textarea id="contact_time" name="contact_time"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<div id="submission-message" style="display: none;">
  <p>Thank you for your submission. If there is an interest, our team will be contacting you shortly.</p>
</div>

<script>
  document.getElementById('adoption-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var inputs = this.querySelectorAll('input, textarea');
    var allFilled = true;

    for (var i = 0; i < inputs.length; i++) {
      if (!inputs[i].value.trim()) {
        allFilled = false;
        alert('Please ensure all fields are completed in order to submit.');
        break;
      }
    }

    if (allFilled) {
      document.getElementById('adoption-form-container').style.display = 'none';
      document.getElementById('submission-message').style.display = 'block';
      // Here you would normally handle the form submission to the server
    }
  });
</script>

<hr>


<div>
  <div>
    <h2>
      Edit dog
    </h2>

    <form action="/modify_dog/<%= @the_dog.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_dog.name %>">
      </div>

      <div>
        <label for="breed_box">
          Breed
        </label>

        <input type="text" id="breed_box" name="query_breed" value="<%= @the_dog.breed %>">
      </div>

      <div>
        <label for="age_box">
          Age
        </label>

        <input type="text" id="age_box" name="query_age" value="<%= @the_dog.age %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <input type="text" id="bio_box" name="query_bio" value="<%= @the_dog.bio %>">
      </div>

      <div>
        <label for="shelter_id_box">
          Shelter
        </label>

        <input type="text" id="shelter_id_box" name="query_shelter_id" value="<%= @the_dog.shelter_id %>">
      </div>

      <div>
        <label for="gender_box">
          Gender
        </label>

        <input type="text" id="gender_box" name="query_gender" value="<%= @the_dog.gender %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_dog.owner_id %>">
      </div>

      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture" value="<%= @the_dog.picture %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_dog.status %>">
      </div>

      <button>
        Update dog
      </button>
    </form>
  </div>
</div>

<hr>
